{% comment %}
  This is a simple section with a schema.
{% endcomment %}

<div>
  <h2 style="text_align : {{ section.settings.title_alignmnet }}">{{ section.settings.heading }}</h2>
</div>

{% schema %}
{
  "name": "promotion group",
  "tag" : "section" ,
   "class" : "my-wrapper-class",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "Welcome!"
    },
    {
        "type": "select",
        "id": "title_alignmnet",
        "label": "Title alignment",
        "options": [
        {"label": "Left",
            "value": "left"
        },
        {"label": "right",
         "value": "right"
        },
        {"label": "center",
         "value": "center"
        }
        ],
        "default" : "left"
    }
  ],
  "presets": [
    {
      "name": "promotion group"
    }
  ]
}
{% endschema %}
